[Desktop Entry]
Version=1.0
Type=Application
Name=Amlogic Flash Tool
Comment=Прошивка устройств Amlogic
Exec=/usr/bin/python3 "/home/user/aml_utils/aml_flash.py"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
